{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div style="display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50vh;
            margin: 0;">

        {% if allegro_authorized %}
            <h3 style="text-align: center; margin-bottom: 20px;" >Autoryzacja allegro aktualna</h3>
        {% else %}
            <a class="btn-lg btn-success" style="text-align: center; margin-bottom: 20px;" href="{% url 'allegro-auth' %}">
                Autoryzacja Allegro
            </a>

        {% endif %}

        {% if olx_authorized %}
            <h3 style="text-align: center; margin-bottom: 20px;" >Autoryzacja OLX aktualna</h3>
        {% else %}
            <a class="btn-lg btn-success" style="text-align: center; margin-bottom: 20px;" href="#">
                Autoryzacja OLX
            </a>
        {% endif %}

        <a class="btn-lg btn-warning" style="text-align: center; margin-bottom: 20px;" href="/admin/">
                Przejdź do panelu Admin
            </a>
    </div>

{% endblock %}