{% extends 'store/main.html' %}
{% load static%}

{% block content %}
    <header>
        <h1>Contact to us</h1>
    </header>

    <div style="display: center;">
        <section style="text-align:center;">
            <img src="{% static 'images/flag_DE.png' %}" style="width:500px; height:auto;">
            <h2>Nazwa Firmy: Car-shop SA</h2>
            <h3>Właściciel: Łukasz Maciejewski</h3>
            <p>Email: hagrid@gmail.com</p>
            <p>Numer telefonu: 123456789</p>
        </section>
    </div>
{% endblock content %}